@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'helvetica-neue';
	src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.max-width {
	@apply lg:mx-auto lg:px-48 xl:px-52 px-5;
}
.bg-gradient {
	@apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
	@apply bg-clip-text bg-gradient text-transparent;
}
.section {
	@apply pt-28 xl:pt-28 2xl:pt-44;
}
.text-content {
	@apply dark:text-light-content text-dark-content;
}

:root {
	--bg-dark: #0d0d0d;
	--bg-light: #f2f2f2;
	--text-dark: #1a1a1a;
	--text-light: #f2f2f2;
	--pad: 30px;
	--underline-color: #1a1a1a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}
* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: 'helvetica-neue';
	padding: 25px;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	display: flex;
	min-width: 325px;
	background-color: var(--bg-light);
	color: var(--text-dark);
	z-index: 10;
	font-feature-settings: 'palt';
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	overscroll-behavior: none;
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

body.dark {
	background-color: var(--bg-dark);
	color: var(--text-light);
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
	--underline-color: #f2f2f2;
}

/* old root 
	
#root {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	min-width: 325px;
	overflow-y: hidden;
	border-color: rgba(250, 242, 255, 0.5);
	background: rgb(3, 2, 2);
	z-index: 11;
} 
*/

#root {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	min-width: 325px;
}

#background {
	/* left: var(--pad);
	right: var(--pad);
	top: var(--pad);
	bottom: var(--pad); */
	position: fixed;
	left: -45vw;
	bottom: -45vw;
	width: 85vw;
	height: 85vw;
	border-radius: 45%;
	border: 1px solid black;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}

#background canvas {
	background: none !important;
}

/* #background::content {
	height: 100%;
	width: 100%;
	z-index: 10;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.136) 0, rgba(0, 0, 0, 0.607) 100%);
} */

#frame {
	position: fixed;
	z-index: 10;
	left: var(--pad);
	right: var(--pad);
	top: var(--pad);
	bottom: var(--pad);
	mix-blend-mode: difference;
	pointer-events: none;
	min-width: 0;
}

.frame_line {
	position: absolute;
	opacity: 0.5;
}

.frame_line-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
}

.frame_line-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
}

.frame_line-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
}

.frame_line-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
}

.mask {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

.mask_top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--pad);
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
	opacity: 0.7;
}

.mask_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--pad);
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
	opacity: 0.7;
}

.mask_left {
	position: absolute;
	bottom: 20px;
	left: 0;
	width: var(--pad);
	height: 100%;
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
	opacity: 0.7;
}

.mask_right {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: var(--pad);
	height: 100%;
	transition-property: background-color;
	transition-duration: 0.9s;
	transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
	opacity: 0.7;
}

/* .vanta-canvas,
.p5canvas {
	background: none;
} */

/* nav */

.hover-underline-animation {
	display: inline-block;
	position: relative;
}

.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 20%;
	transform: scaleX(0);
	height: 1px;
	bottom: 6px;
	left: 0;
	background-color: var(--underline-color);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* body .text-decoration-dark.active {
	text-decoration: underline;
	text-decoration-color: var(--text-dark);
	text-underline-offset: 5px;
}
body.dark .text-decoration-light.active {
	text-decoration: underline;
	text-decoration-color: var(--text-light);
	text-underline-offset: 5px;
} */

.header_icon:hover {
	/* background-color: var(--text-dark); */
	transform: scale(1.2);
	border-radius: 10px;
	transition: transform 0.25s ease-out;
}

.name {
	position: fixed;
	z-index: 10;
	left: calc(var(--pad) * 2);
	top: calc(var(--pad) * 2);
	width: 50%;
	backdrop-filter: difference;
}

.about-1440,
.about {
	margin-right: calc(var(--pad) * 2);
}

.header {
	position: fixed;
	z-index: 10;
	left: calc(var(--pad) * 1.3);
	top: calc(var(--pad));
	backdrop-filter: difference;
	margin-top: 50px;
}

#content {
	z-index: 9;
	/* right: calc(var(--pad));
	bottom: calc(var(--pad)); */
	overflow-x: hidden;
	display: flex;
	justify-content: center;
}

.lightdark {
	position: fixed;
	left: var(--pad);
	bottom: 30px;
	z-index: 10;
	writing-mode: sideways-lr;
	left: 10px;
}

.wrapped-text {
	overflow-wrap: break-word;
	white-space: normal;
}

.page-title {
	position: absolute;
	top: 31px;
	right: 3px;
	z-index: 10;
	writing-mode: vertical-rl;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	/* width: 20px;
	text-align: center;
	word-break: break-all;
	white-space: pre-wrap; */
	letter-spacing: 15px;
}

.tech img {
	width: 40px;
	height: 40px;
	border-radius: 10%;
}

.workImg img {
	border-radius: 10%;
}
.tech-large img {
	width: 80px;
	height: 80px;
	border-radius: 10%;
}

input,
select,
textarea {
	color: var(--text-dark);
}

textarea:focus,
input:focus {
	color: var(--text-dark);
}

/* Hiding the default checkbox */
.custom-checkbox {
	display: none;
}

/* Style when the checkbox is checked */
.custom-checkbox:checked {
	background-color: grey; /* Color when checked */
	border-color: grey;
}

.custom-box {
	font-size: 25px;
	cursor: pointer;
}

.projectCard {
	background-color: #fcf9f9;
}
