@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'helvetica-neue';
	src: url('./assets/fonts/helvetica-neue/HelveticaNeue-Light.otf') format('opentype');
	/* Add other font formats if available */
	font-weight: normal;
	font-style: normal;
}

.max-width {
	@apply lg:mx-auto lg:px-48 xl:px-52 px-5;
}
.bg-gradient {
	@apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
	@apply bg-clip-text bg-gradient text-transparent;
}
.section {
	@apply pt-28 xl:pt-28 2xl:pt-44;
}
.text-content {
	@apply dark:text-light-content text-dark-content;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'helvetica-neue';
	padding: 25px;
	width: 100vw;
	height: 100vh;
	display: flex;
	min-width: 325px;
	background: rgba(5, 1, 1, 0.31);
}

#root {
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	padding: 25px;
	min-width: 325px;
	overflow-y: hidden;
	border-color: rgba(250, 242, 255, 0.5);
	background: rgba(13, 13, 13, 0.95);
}

.active {
	text-decoration: underline;
	text-decoration-color: rgb(250, 242, 214);
	text-underline-offset: 5px;
	/* Add other styles for the active link if needed */
}

.tech img {
	width: 60px;
	height: 60px;
}

section {
	background: transparent;
}
